@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes pulseSlow {
  0%, 100% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.05); opacity: 0.75; }
}

.animate-pulse-slow {
  animation: pulseSlow 6s ease-in-out infinite;
}

@keyframes spinSlow {
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spinSlow 6s linear infinite;
}
